$bg-color: #0d1117;
$bg-color-mobile: rgb(161, 159, 156) ;
$bg-gradient: linear-gradient(60deg, #4FC0E2, #494D74);
$card-color: #3a4350;
$border-color: #30363d;
$borderHover-color: #444b53;
$btn-bg: #21262d;

$text-df: #e5eaee;
$text-secondary: #8b949e;

$success-color: #2ea043;
$info-color: #1f6feb;
$danger-color: #f85149;
